<app-navbar></app-navbar>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>-->
<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">DailyTrends</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li><i class="icon-warning-sign text-success fas fa-plus-square"></i><i class="fa fa-plus-square"></i>
        <a>Refresh</a>
      </li>
      <li>
          <a>
            <button (click)="newFeed()">
              <i class="fa fa-plus"></i>
            </button>
          </a>
        </li>
    </ul>
  </div>
</nav>-->

<div *ngIf="data" class="row col-lg-12">
  <div class="col-lg-5">
    <div class="row  ">
      <span style="float:left" class="col-lg-4">{{nav.itemspage}}/{{nav.totalitems}}Feeds</span>
      <span class="col-lg-6">
        <button [disabled]="nav.page==1" class="btn btn-info" (click)="first()">
          <<</button>
            <button [disabled]="nav.page<nav.pages" class="btn btn-info" (click)="previous()">
              <</button>
                <button [disabled]="nav.page>nav.pages || nav.page==nav.pages" class="btn btn-info" (click)="next()">></button>
                <button [disabled]="nav.page==nav.pages" class="btn btn-info" (click)="last()">>></button>
      </span>
      <span class="col-lg-2">{{nav.page}}/{{nav.pages}}</span>
    </div>
    <table class="table table-bordered">
      <tr *ngFor="let row of data; let i = index">
        <td>
          <!--<a [routerLink]="['/feed', row._id]">-->
          <span>{{i}} </span>
          <button class="btn btn-success" (click)="selectItem(row)">
            <i class="fa fa-eye fa-2x"></i>
          </button>
          <button class="btn btn-info" (click)="editFeed(row._id)">
            <i class="fa fa-edit fa-2x"></i>
          </button>
          <span *ngIf="row.publisher==publisher.elmundo">
            <img width="30" height="30" src="../assets/elmundo.png" alt="">
          </span>
          <span *ngIf="row.publisher==publisher.elpais">
            <img width="30" height="30" src="../assets/elpais.png" alt="">
          </span>
          <span> #{{row.title}}</span>
          <!--</a>-->

          <!--<button class="btn btn-danger" (click)="deleteFeed(row)"><i class="fa fa-plus fa-2x"></i></button>-->
        </td>
        <!-- <td *ngFor="let val of row">
                  {{val[0]}}
              </td> -->
      </tr>
    </table>
  </div>
  <div class="col-lg-7">
    <app-card [item]="itemSelected"></app-card>
  </div>
</div>
