<div *ngIf="!isItem" class="row col-lg-12">
  <h1>Selecciona una noticia</h1>
  <!--<div>{{item.title}}</div>
  <div>{{item.publisher}}</div>
  <div [innerHTML]="item.body"></div>
  <div>{{item.source}}</div>
  <div>{{item.author}}</div>
  <div>{{item.pubDate}}</div>-->
</div>

<div *ngIf="isItem" class="row col-lg-10 offset-md-1">
  <div class="card" style="    margin-top: 25px;">
    <span *ngIf="item.publisher==publisher.elmundo">
      <img width="30" height="30" src="../assets/elmundo.png" alt="">
    </span>
    <span *ngIf="item.publisher==publisher.elpais">
      <img width="30" height="30" src="../assets/elpais.png" alt="">
    </span>
    <div class="card-body">
      <h5 class="card-title">{{item.publisher}}Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
